.header{
    grid-row: 2/3;
    grid-column: 2/-1;
    display: flex;
    align-items: center;
    overflow: hidden;
    @media only screen and (max-width:$bp-small){flex-direction: column-reverse;}
    &-img-box{
        height: 100%;
        flex: 0 0 50%;
        background-image: url(../img/hero.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
        @media only screen and (max-width:$bp-small){flex: 0; height: 0; span{display: none;}}
    }
    &-text{
        padding: 9%;
        @media only screen and (max-width:$bp-largest) {padding: 5%; h1{font-size: 4.5rem;}}
        @media only screen and (max-width:$bp-small){
            background-image: linear-gradient(#665a45c9,#665a45d2),url(../img/hero.jpg);
            background-position: center;
            background-size: cover;
            color: white;
            flex: 1;
            padding:18% 10% 0 10%;
            align-self: center;
            justify-self: center;
            h1{color: white;}
        }
    }
}

